<!DOCTYPE html>
<html lang="pl" dir="ltr">
  <head>
    <title>{{appName}}</title>

    <meta charset="utf-8">

     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Coda">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header class="header w3-container w3-card">

      <div class="header__item">
        {{appName}} PeKaApp
      </div>

    </header>


    <main class="w3-content">

      <form class="form" method="post" action="/findStop">
        <input class="form__input" type="text" name="pattern" placeholder="Przystanek" autofocus>
        <input type="hidden" name="method" value="getStopPoints">
        <br>
        <input class="form__input form__input--submit" type="submit" value="Submit">
      </form>

      <form class="result" method="post" action="/getBollardsByStopPoint">
      {{#each results}}
        <input class="result__item" type="submit" name="name" value="{{this.name}}">
      {{/each}}
      </form>

      <form class="result" method="post" action="/getTimes">
      {{#each bollards}}
        <div class="bollard__card">
          <input class="form__input form__input--submit" type="submit" name="symbol" value="{{this.bollard.symbol}}">
          <h6>{{this.bollard.name}}</h6>
          <div>
            {{#each this.directions}}
              <span class="direction__list__item">{{lineName}}->{{direction}}</span>
            {{/each}}
          </div>
        </div>
      {{/each}}
      </form>

      <ul>
        {{#each times}}
          <li>{{this.line}} - {{this.direction}} - {{this.minutes}} {{#if this.realTime}} GPS on {{/if}} {{#if this.onStopPoint}} na przystanku! {{/if}}</li>
        {{/each}}
      </ul>

    </main>

  </body>
</html>
